@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
// Colors
$default-font: "Rubik",
sans-serif;
$logo: #406182;
/* bg for logo too */
$color_support: #263151;
$gray_f1: #edeff1;
$gray_fb: #f9fafb;
$gray_f3: #ebeff3;
$gray_f8: #f8f8f8;
$form_title: #3e444a;
$text-while: #ffffff;
$dots_active: #406182;
$text_option: #9096a8;
$accent: orange;
$bg-black: #111111;

.container {
	max-width: 1100px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

// Body
$while: #ffff;
///
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
/* // ? Typography*/

//fz
$fz12: 0.7rem;
$fz14: 0.875rem;
$fz16: 1rem;
$fz18: 1.125rem;
$fz20: 1.25rem;
$fz24: 1.5rem;
$fz48: 3rem;

//lh
$lh14: 0.875rem;
$lh20: 1.25rem;
$lh21: 1.3125rem;
$lh24: 1.5rem;
$lh28: 1.75rem;
$lh57: 3.5625rem;

//fw
$font-wN: normal;
$font-w400: 400;
$font-w500: 500;
$font-w600: 600;
$font-w700: 700;

//z-i
$zi-1: 1;
$zi-2: 2;